# Slack
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_CHANNEL=
SLACK_BOT_USER_ID=

# AI
GEMINI_API_KEY=

# Database
DATABASE_URL=

# Context Retrieval Service
CONTEXT_RETRIEVAL_SERVICE_URL=

# Redis
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=